/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #a57e7e;

  background-size:cover;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 26px;
  left: 4px;
  bottom: 5px;
  /* background-color: #615a5a; */
  background-image: url('../assets/images/moon.png');
  background-size:cover;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #272927;
  box-shadow: 2px 2px 10px rgb(235, 113, 113);
}

input:focus + .slider {
  box-shadow: 0 0 1px #112211;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #a09999;
 
  background-size:cover;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider1:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 26px;
  left: 4px;
  bottom: 5px;
  /* background-color: #615a5a; */
  background-image: url('../assets/images/sunny.png');
  background-size:cover;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider1 {
  background-color: #808180;
  box-shadow: 2px 2px 10px rgb(235, 113, 113);
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #112211;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider1s */
.slider1.round {
  border-radius: 34px;
}

.slider1.round:before {
  border-radius: 50%;
}



.dark-mode{
    background-color: #0f102c;
    color: #fff;
}
.dark-mode #about{
    color: rgb(238, 218, 218);
    background-color: transparent;
    border:none;
    border-radius:20px ;
    /* box-shadow: 2px 2px 9px #a1a0a0; */
}
.dark-mode .footer{
  background: #000;
}
.dark-mode #heading{
  color: rgb(238, 218, 218);
}
.dark-mode #about .button{
   border:none;
   box-shadow: 2px 3px 9px #f3c5c5;
}
.dark-mode #services{
  color: rgb(238, 218, 218);
  background-color:transparent;
  margin-top: 6px;
  border-radius:20px ;
  /* box-shadow: 2px 2px 9px #a1a0a0; */
}
.dark-mode #services .cards{
font-weight: 900;
box-shadow: 1px 1px 2px #5a5a5a;
border: 1px solid #a1a0a0;
}

.dark-mode #contact{
  color: rgb(238, 218, 218); 
  background-color: transparent;
  /* box-shadow: 2px 2px 9px #a1a0a0; */
}
.dark-mode  #heroH1{
color: #ffffff;
}
.dark-mode  #heroP{
color: #fffdfd;
}
.dark-mode #navLink:hover{
/* text-shadow: 11px -11px 3px #686767; */
font-size: 17px;
}

.light-mode{
  color:  #212221;
  background-color:rgb(255, 255, 255);
}
.light-mode #about{
  color:  #212221;
  font-weight: 500;
  background-color:#fff;
}
.light-mode #services{
  color:  #212221;
  background-color:#fff;
}

.light-mode #services .cards{
background: #858ce74f;
font-weight: 900;
box-shadow: 5px 5px 10px #2b2828;
}
.light-mode #services .cards:hover{
transform-style: preserve-3d;
background:linear-gradient(135deg, rgba(141, 133, 133, 0.25) 0%, rgba(255, 255, 255, 0) 60%);

}
.light-mode #contact{
  color:  #111111;
  background-color:#d2f0e12d;
}
#services .parallax-inner{
background-repeat: no-repeat;
background-position: center;
}
.light-mode #heroH1{
color: #111111;
font-size: 2.7rem;
font-weight: bolder;
}
.light-mode #heroP{
color: #111111;
}
/* .light-mode #navLink{
color: #020202;
font-weight: 900;
} */
.light-mode #navLink:hover{
/* text-shadow: 11px -11px 3px #686767; */
color: rgb(187, 76, 76);
font-size: 17px;
}
.light-mode #mainNav{
color: #1c1c1d;
/* background-color: #fff; */
}


/* Social Links */

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #c4e2dd;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.whatsapp {
  background: green;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.instagram {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}